[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        logging-fstring-interpolation,
        too-many-arguments,


[FORMAT]
max-line-length=120
